# https://docs.github.com/en/code-security/supply-chain-security/enabling-and-disabling-version-updates
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
